<div class="container">
  <div class="col-12" style="background-color:#f2f2f2;margin:20px;padding:40px;">

    <div class="row">
      
      <div class="col-12">

        <h1 class="text-center">Memory Game</h1>

        <p>Please select game difficulty level:</p>

        <div class="row">
        
          <div class="col-lg-2">
            <a href="javascript:;" class="btn btn-primary" style="width:100px;">Easy</a>
          </div>
          <div class="col-lg-2">
            <a href="javascript:;" class="btn btn-primary" style="width:100px;">Medium</a>
          </div>
          <div class="col-lg-2">
            <a href="javascript:;" class="btn btn-primary" style="width:100px;">Hard</a>
          </div>
        

        </div>
      
      </div>


    </div>


  </div>

</div>
